<div class="centered-image">
  <div class="content-wrapper">
    <h1 class="centered-text">Esta página ainda está em Desenvolvimento</h1>
  </div>
  <div class="content-wrapper">
    <%= image_tag "under_development.png", class: "img-fluid" %>
  </div>
</div>
