.table-container {
  width: 80%; /* Defina a largura desejada para a tabela */
  margin: 0 auto; /* Centraliza a tabela na página */
  border-spacing: 0; /* Garante que não haja espaço entre as células */
  border: 2px solid #000; /* Adiciona uma borda sólida de 2px preta */
  border-radius: 20px; /* Arredonda os cantos da borda */
}

.custom-table th {
  background-color: #333333; /* Cor de fundo verde */
  color: white; /* Cor do texto branco */
  padding: 8px; /* Espaçamento interno */
  text-align: center;
}

.custom-table td {
  padding: 8px; /* Espaçamento interno */
  border-bottom: 1px solid #ddd; /* Adiciona uma linha de divisão entre as linhas */
  text-align: center;
}

.custom-table th:last-child {
  border-radius: 0 15px 0 0;
}

.custom-table th:first-child {
  border-radius: 15px 0 0 0;
}

.table_button {
  font-size: 110%;
}

.table-checkbox {
  height: 16px; /* Altura do checkbox */
  width: 16px; /* Largura do checkbox */
  cursor: pointer;
}